@import "include-media/dist/include-media";
@import "include/mixins";
@import "include/variables";
.breadcrumb {
  padding-top: 10px;
  ul:not(.contextual-links) {
    padding: 0;
    box-shadow: -$content-width 0px 0px 0px $orange;
    overflow: hidden;
    li {
      list-style: none;
      display: inline-block;
      a {
        color: $white;
        text-decoration: none;
        padding: 8px 0 8px 20px;
        background: $orange;
        position: relative;
        display: block;
        &:after {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 30px solid transparent; /* Go big on the size, and let overflow hide */
          border-bottom: 30px solid transparent;
          border-left: 20px solid $orange;
          position: absolute;
          top: 50%;
          margin-top: -30px;
          left: 100%;
          z-index: 2;
        }
        &:before {
          content: " ";
          display: block;
          width: 0;
          height: 0;
          border-top: 30px solid transparent;
          border-bottom: 30px solid transparent;
          border-left: 20px solid $white;
          position: absolute;
          top: 50%;
          margin-top: -30px;
          margin-left: 1px;
          left: 100%;
          z-index: 1;
        }
      }
    }
  }
}
