@import "include-media/dist/include-media";
@import "include/mixins";
@import "include/variables";
.commments-section {
  border-style: ridge;
  border-radius: 6px;
  padding: 18px 8px 8px;
  h2 {
    font-size: 24px;
    text-align: center;
  }
  .js-form-type-select {
    label {
      float: left;
      max-width: 320px;
      width: 100%;
    }
  }
  ul {
    li {
      list-style: none;
    }
  }
}
