@import "include/variables";
@import "include-media/dist/include-media";
@import "include/mixins";
.dish {
  width: 100%;
  .heading {
    font-size: 24px;
    @include clearfix;
    .type {
      float: right;
    }
  }
  .content-holder {
    .ingredients {
      border: 2px solid $dark-grey;
      padding: 0 8px;
      clear: both;
      width: 100%;
      .list {
        padding: 4px 0 0;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px;
        a {
          margin: 0 5px 10px;
          border: 1px solid lighten($dark-grey, 15%);
          padding: 4px 16px;
          &:hover {
            background: transparentize($dark-grey, 0.8);
          }
        }
      }
    }
  }
}

