@import "include-media/dist/include-media";
@import "include/variables";
@import "include/mixins";
@import "include/fonts";
@import "include/reset";
@import "include/form";
@import "include/tables";
@import "include/button";
@import "components/slick";

#wrapper {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  background: $grey;
}

#top {
  background: $black;
  z-index: 10;
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  a {
    color: $grey;
  }

  .container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
    min-height: 52px;
    @include media('<desktop') {
      flex-direction: column;
    }
  }

  .section-navigation {
    position: relative;
    min-height: 52px;
    background: $black;
    width: 100%;
    .menu-opener {
      display: block;
      position: absolute;
      width: 32px;
      height: 32px;
      z-index: 10;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);

      span,
      &:before,
      &:after {
        position: absolute;
        content: "";
        width: calc(100% - 4px);
        border: 2px solid $grey;
        transition: all 0.5s;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }

      &:hover {
        border: none;
      }

      span {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    > .slide {
      display: none;
    }

    &.open {
      .menu-opener {
        &:before,
        &:after {
          transition: all 0.5s;
        }

        &:before {
          top: 50%;
          left: -1px;
          transform: rotate(45deg) translate(-1px, -50%);
        }

        &:after {
          bottom: 50%;
          left: -1px;
          transform: rotate(-45deg) translate(-1px, 50%);
        }

        span {
          display: none;
        }
      }

      > .slide {
        display: block;
        background: $black;
        padding-top: 20px;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 100%;
        left: 0;
        z-index: 1;
        overflow-y: scroll;
      }
    }

    @include media('>tablet') {
      display: flex;
      align-items: center;
      flex: 0 1 100%;
      > .slide {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
      }
      .menu-opener {
        display: none;
      }
    }
    .navigation {
      width: 100%;
    }
  }

  .contact {
    text-align: center;
    @include media('>tablet') {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
  }
}

#header {
  z-index: 5;

  .navigation {
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 $dark-grey;
    a {
      transform: scale(1);
      transition: transform linear 0.1s;
      &:hover {
        transform: scale(1.2);
        transition: transform linear 0.1s;
      }
    }
    ul,
    .menu {
      background: $dark-red;
      li {
        border: none;
      }
    }
  }
}

#main {
  flex: 1 0 auto;
  .menu {
    ul {
      li {
        display: block;
        border: none;
      }
    }
  }
}

#content {
  max-width: $content-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  @include media('>tablet') {
    flex-direction: row;
  }
}

#footer {
  flex-shrink: 0;
  a {
    color: $grey;
  }
}

.container {
  flex-basis: auto;
  max-width: $content-width;
  margin: 0 auto;
}

.sidebar {
  width: 100%;
  padding: 8px;
  @include media('>tablet') {
    flex-basis: 320px;
  }
}

.content {
  width: 100%;
  padding: 8px;
}

.front {
  width: 100%;
}

.block-wrapper {
  width: 100%;

  h2 {
    text-align: center;
    line-height: 2;
    text-shadow: 2px 2px 5px $dark-grey;
    padding-bottom: 12px;
  }
}

.bottom {
  background-color: $black;
  color: $grey;
  padding: 10px 0;

  a {
    color: $grey;
  }

  h2,
  h3,
  h4,
  h5 {
    color: $grey;
    line-height: 1.5;
    text-align: center;
  }

  .container {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include media('>tablet') {
      flex-direction: row;
      align-items: start;
    }
  }
  .menu {
    ul {
      li {
        display: block;
        border: none;
      }
    }
  }
}

.copyright {
  float: right;
  margin: 4px 16px;

  p {
    padding: 0;
    margin: 0;
  }
}

.tags {
  align-self: end;
  margin: auto 0 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  ul {
    display: flex;
    align-self: start;
    flex-wrap: wrap;
    margin-bottom: 0;
    li {
      color: $dark-grey;
      padding: 6px;
      position: relative;
      list-style-type: none;
      &:not(:last-child) {
        &:after {
          position: absolute;
          content: ",";
        }
      }
    }
  }
  a {
    color: inherit;
  }
}

.type {
  transform: scale(0.7);
  text-transform: uppercase;
  display: inline-block;
  align-self: center;
  color: $grey;
  background-color: $dark-grey;
  padding: 8px 14px;
  border-radius: 40px;
  a {
    color: inherit;
  }
}

.image-holder {
  position: relative;
  display: block;
  img {
    width: 100%;
    display: block;
  }
  a {
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    color: $white;
    font-size: 10px;
    font-weight: 800;
    transition: all 0.3s;
    &:hover {
      border: none;
      background: transparentize($black, 0.8);
      font-size: 42px;
      transition: all 0.3s;
    }
    span {
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:before {
        content: "\f00e";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
.feed-icon {
  float: right;
  padding-top: 12px;
}

.text-holder {
  h2 {
    text-shadow: none;
    font-size: 1.8em;
    margin-bottom: 8px;
  }
}
.message-block {
  .holder {
    border: 2px inset $orange;
    border-radius: 14px;
    padding: 4px 12px;
  }
}

