@import "include/variables";
@import "include-media/dist/include-media";

.grid-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
  .item {
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 0;;
    &:hover {
      .text {
        top: 0;
        transition: top linear .5s;
      }
    }
    img {
      width: 100%;
      display: block;
    }
    .text {
      padding: 10px;
      position: absolute;
      z-index: 3;
      top: calc(100% - 90px);
      bottom: 0;
      width: 100%;
      background: transparentize($white, 0.5);
      transition: top linear .5s;
      display: flex;
      flex-direction: column;
      flex-basis:100%;
      a {
        color: inherit;
      }
      .heading {
        font-size: 24px;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        h2 {
          text-shadow: none;
          color: $dark-red;
        }
      }
    }
    @include media('>tablet') {
      width: 50%;
    }
    @include media('>desktop') {
      width: 33%;
    }
  }
  @include media('>tablet') {
    padding-bottom: 16px;
  }
  @include media('>desktop') {
    padding-bottom: 24px;
  }
}
