@import "include/variables";
@import "include-media/dist/include-media";
@import "include/mixins";
.language-switcher {
  color: $grey;
  padding: 8px 18px;
  position: relative;
  text-align: center;
  width: 100%;
  &:hover {
    .links {
      display: block;
    }
  }
  h2 {
    font-size: 1.2em;
    text-shadow: none;
  }
  .links {
    display: none;
    background: lighten($black, 20%);
    z-index: 1;
    box-sizing: border-box;
    border-radius: 0 0 8px 8px;
    padding: 4px 12px 0;
    li {
      list-style-type: none;
      padding: 6px 0;
      background: li;
      margin-bottom: 2px;
      a {
        color: $white;
      }
    }
    @include media('>tablet') {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
