@import "include/variables";
@import "include-media/dist/include-media";
.local-tasks {
  padding-bottom: 18px;
  text-align: center;
  ul {
   li {
     padding: 4px 8px;
     display: inline-block;
     border-radius: 40%;
     box-shadow: 0 6px 4px $dark-grey;
   }
  }
  @include media('>tablet') {
    text-align: left;
  }
}
