@import "include-media/dist/include-media";
@import "include/variables";
.logo {
  z-index: 20;
  margin: 0;
  position: absolute;
  top: 0;
  height: 100%;
  img {
    height: 100%;
  }
  a {
    &:hover {
      border: none;
    }
  }
  @include media('>=tablet') {
    position: relative;
    height: 75px;
  }
}
