@import "include-media/dist/include-media";
@import "include/variables";
@import "include/mixins";
@import "include/fonts";
@import "include/reset";
main,
header {
  text-align: center;
  img {
    margin: 0 auto;
    max-width: 320px;
  }
}

