@import "include/variables";
@import "include-media/dist/include-media";

.menu {
  font-size: 14px;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      @include media('>=tablet') {
       display: inline-block;
      }
    }
    @include media('>=tablet') {
     text-align: center;
      display: block;
    }
  }
  a {
    color: $dark-red;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 4px;
    border-bottom: 1px solid $grey;
    &:hover {
      color: darken($green, 40);
      border-color: darken($green, 40);
    }
    &.is-active {
      color: $green;
      border-color: $green;
    }
  }
}
