@import "include/variables";
@import "include-media/dist/include-media";
@import "include/mixins";
.node {
  width: 100%;
  .content-holder {
    .image-holder {
      a {
        color: $gold;
        &:hover {
          color: $red;
          transition: all 0.3s, color 4s;
          span {
            &:before {
              text-align: center;
              content: "\f5c2\a click me";
              white-space: pre;
            }
          }
        }
        span {
          &:before {
            content: "\f4da";
          }
        }
      }
      @include media('>phone') {
        max-width: 300px;
        margin: auto;
      }
      @include media('>tablet') {
        margin: 8px 24px 8px 0;
        float: left;
      }
    }
  }
  .meta {
    padding: 4px 8px;
    border-radius: 6px;
    border-style: ridge;
  }
  .tags {
    font-size: 14px;
  }
}

.content {
  background: transparentize($white, 0.3);
  border-radius: 6px;
  margin-bottom: 8px;
}

