@import "include/variables";
@import "include-media/dist/include-media";
.open-close {
  .opener {
    color: $white;
    display: block;
  }
  .slide {
    display: none;
  }
  &.open {
    .slide {
      display: block;
    }
  }
}
