@import "include/variables";
@import "include-media/dist/include-media";
@import "include/mixins";
.pager {
  background: $white;
  padding: 8px;
  border-radius: 6px;
  ul {
    margin: 0 -8px;
  }
  li {
    display: inline-block;
    margin: 0 8px;
  }
}
