@import 'include/variables';
@import "include-media/dist/include-media";

.search-block-form {
  width: 100%;
  position: initial;
  padding: 0 16px;
  float: right;

  .opener {
    display: none;

    &:hover {
      border: none;
    }

    @include media('>tablet') {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  form {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  input {
    width: 100%;
    font-size: 16px;
    line-height: 1.5;
    background-color: $white;
    opacity: 0.75;
  }

  .form-item {
    width: 100%;
  }


  button {
    display: inline-block;
    position: relative;
    color: $white;
    padding: 8px 10px;
    height: 24px;
    background: transparent;
    border: none;

    i {
      font-size: 20px;
    }
  }

  .slide {
    display: block;
    width: 100%;
    @include media('>tablet') {
      display: none;
      padding: 10px;
      position: absolute;
      background: $black;
      top: 100%;
      left: 0;
      z-index: 1;
      box-shadow: 50vw 0px 0px 0px $black, -50vw 0px 0px 0px $black;
    }
  }

  @include media('>tablet') {
    width: 40px;
  }
}
