@import "include/variables";
@import "include-media/dist/include-media";
.slider {
  width: 100%;
  > div {
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
  }
  .item {
    display: block;
    width: 100%;
    position: relative;
    height: 100px;
    background-color: $dark-grey;
    font-size: 10px;
    overflow: hidden;
    &:not(:first-child) {
      display: none;
    }
    picture,
    img {
      position: absolute;
      left: 0;
      right: 0;
      top: -100%;
      bottom: -100%;
      width: 100%;
      height: auto;
      max-height: none;
      margin: auto;
      z-index: 0;
    }

    .content {
      position: absolute;
      display: inline;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      max-width: 800px;
      z-index: 1;
      color: $grey;
      border-radius: 14px;
      background-color: transparentize($black, 0.4);
      text-align: center;
      h2 {
        line-height: 1.5;
      }
      .text {
        padding: 16px 10px;
      }
    }

    @include media('>phone') {
      font-size: 12px;
      height: 200px;
    }
    @include media('>tablet') {
      font-size: 14px;
      height: 300px;
    }
    @include media('>desktop') {
      font-size: 16px;
      height: 450px;
    }
  }
}

