@import "include/variables";
@import "include-media/dist/include-media";
@import "include/mixins";
.item-teaser {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: transparentize($white, 0.7);
  border-radius: 6px;
  margin-bottom: 8px;
  padding: 4px;
  h2 {
    text-align: center;
  }
  .image-holder {
    width: 100%;
    @include media('>desktop') {
     max-width: 300px;
      margin-right: 12px;
    }
  }
  .text {
    padding: 4px;
    .heading {
      margin-bottom: 20px;
    }
    @include media('>desktop') {
      flex: 1 1 0;
    }
  }
  .tags {
    width: 100%;
    border-top: 1px dotted $dark-grey;
    align-self: end;

  }
  @include media('>desktop') {
    flex-direction: row;
  }
}
