{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{{ attach_library('classy/node') }}
<div{{ attributes.addClass(['item']) }}>
  {% block image %}
      {% if not (term.field_main_image.isEmpty == true) %}
          {{ content.field_main_image }}
      {% else %}
        <img src="/{{ theme_path }}/images/empty.svg" alt="{{ 'empty image'|t }}">
      {% endif %}
  {% endblock %}
  <div class="content">
      {{ title_prefix }}
      <h2{{ title_attributes }}>
        <a href="{{ url }}">{{ name }}</a>
      </h2>
      {{ title_suffix }}
      {{ content.body }}
  </div>
</div>
