@import "include/variables";
@import "include-media/dist/include-media";
@import "include/mixins";

.btn {
  display: inline-block;
  border: 2px solid $dark-grey;
  color: $dark-grey;
  background: transparent;
  padding: 0.5em 1.4em;
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    background: transparentize($dark-grey, 0.8);
    border: 2px solid $grey;
    color: $grey;
  }
}

.btn-grey {
  @extend .btn;
  border-color: $grey;
  color: $grey;
  &:hover {
    border-color: $white;
    color: $white;
  }
}
