form {
  padding: 4px;
  box-sizing: border-box;
  fieldset {
    padding: 8px;
  }
}
.form-item {
  padding-bottom: 6px;
  width: 100%;
  .description,
  .form-item--error-message {
    width: 100%;
  }
  label {
    display: block;
  }
}
textarea,
input {
  width: 100%;
  padding: 8px 8px 4px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid $black;
  background: transparent;
  &:focus {
    outline: none;
  }
}
input[type='file'] {
  @extend .btn;
}
button,
input[type='submit'] {
  @extend .btn;
  width: auto;
}
label {
  position: relative;
  &.checkbox-before {
    padding-left: 24px;
    &:before {
      content: ' ';
      position: absolute;
      display: block;
      width: 16px;
      height: 16px;
      border: 2px solid $black;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
    &.checked {
      &:after {
        font-size: 20px;
        content: '✔';
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        top: -2px;
        left: 2px;
      }
    }
  }
  &.checkbox-after {
    padding-right: 24px;
    &:before {
      content: ' ';
      position: absolute;
      display: block;
      width: 16px;
      height: 16px;
      border: 2px solid $black;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
    &.checked {
      &:after {
        font-size: 20px;
        content: '✔';
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        top: -2px;
        right: 10px;
      }
    }
  }
}

input[type='checkbox'] {
   display:none;
  + label {
    @extend label.checkbox-after
  }
}

select {
  padding: 8px 6px;
  background: transparent;
  border: none;
  border-bottom: 2px solid black;
  position: relative;
  min-width: 160px;
  &:focus {
    outline: none;
  }
  &::-ms-expand {
    display: none;
  }
  option {
   background: $grey;
  }
}
