* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  color: $dark-grey;
  line-height: 1.24;
  font: $base-font;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
}

a {
  text-decoration: none;
  border-bottom: none;
  color: $dark-red;
  &:hover {
    border-bottom: 1px dotted;
    color: $red;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 5px $dark-grey;
  padding-bottom: 14px;
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
  text-shadow: 2px 2px 5px $dark-grey;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 4px;
}

ul, li {
  margin: 0px;
  list-style-type: none;
  > ul {
    padding-left: 12px;
  }
}

ul {
  margin-bottom: 8px;
  padding-left: 18px;
  li {
    list-style-type: circle;
  }
}

iframe {
  border: none !important;
  width: auto;
  height: auto;
}

p {
  margin-bottom: 8px;
}

.menu {
  .contextual-links {
    display: none;
    li {
      display: block;
    }
    a {
      text-transform: none;
    }
  }
}
