$grey: #adadad;
$dark-grey: #2e2e2e;
$red: #ff0000;
$dark-red: #600000;
$gold: #FCFF93;
$orange: #ff9900;
$blue: #f5f5ff;
$black: #000000;
$white: #ffffff;
$green: #66ff66;

$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px
);

$content-width: 1400px;

$base-font: 14px Arial, Georgia, sans-serif;
