{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{% if primary or secondary %}
  {{ attach_library('nightar/local-tasks') }}
  <div{{ attributes.addClass('local-tasks') }}>
    {% if primary %}
      <ul class="nav primary">{{ primary }}</ul>
    {% endif %}
    {% if secondary %}
      <ul class="nav secondary">{{ secondary }}</ul>
    {% endif %}
  </div>
{% endif %}
