{% block node %}
  {% set classes = [
    'item',
    'item-' ~ node.bundle|clean_class,
  ] %}
  {{ attach_library('classy/node') }}
  <div{{ attributes.addClass(classes) }}>
    {% block image %}
      {% if content.field_main_image[0] %}
        {{ content.field_main_image }}
      {% else %}
        <img src="/{{ theme_path }}/images/empty.svg" alt="{{ 'empty image'|t }}">
      {% endif %}
    {% endblock %}
    {% block content %}
      <div class="text">
        <div class="heading">
          {{ title_prefix }}
          {% if label and not page %}
            <h2{{ title_attributes }}>
              <a href="{{ url }}" rel="bookmark">{{ label }}</a>
            </h2>
          {% endif %}
          {{ title_suffix }}
          {% if content.field_type[0] %}
            <div class="type">
              {{ content.field_type }}
            </div>
          {% endif %}

        </div>
        {{ content.body }}
        {{ content.field_tags }}
      </div>
    {% endblock %}
  </div>
{% endblock %}
