{% block node %}
  {{ attach_library('nightar/dish') }}
  {% set classes = [
    'node',
    'dish',
  ] %}
  <div{{ attributes.addClass(classes) }}>
    {% block headiing %}
      {% if  content.field_tags['#items']|length or content.field_type['#items']|length %}
        <div class="heading">
          {% if content.field_type['#items']|length %}
            <div class="type">
              {{ content.field_type }}
            </div>
          {% endif %}
          {{ content.field_tags }}
        </div>
      {% endif %}
    {% endblock %}
    <div class="content-holder">
      {% if content.field_main_image['#items']|length %}
        <div class="image-holder">
          {{ content.field_main_image }}
          <a href="#" data-view="dishes" data-id="dish_gallery" data-nid="{{ node.id }}" class="view-fancybox"><span></span></a>
        </div>
      {% endif %}
      {{ content.body }}
      {% if content.field_ingredients['#items']|length %}
        <div class="ingredients">
          <h3>{{ 'Ingredients:'|t }}</h3>
          <div class="list">
            {{ content.field_ingredients }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
