{% block node %}
  {% set classes = [
    'item',
    'item-teaser',
    'item-' ~ node.bundle|clean_class,
  ] %}
  {{ attach_library('nightar/teaser') }}
  <article{{ attributes.addClass(classes) }}>
    {% block image %}
      {% if content.field_main_image[0] %}
        <div class="image-holder">
          {{ content.field_main_image }}
        </div>
      {% endif %}
    {% endblock %}
    {% block content %}
      <div class="text">
        <div class="heading">
          {{ title_prefix }}
          {% if label and not page %}
            <h2{{ title_attributes }}>
              <a href="{{ url }}" rel="bookmark">{{ label }}</a>
            </h2>
          {% endif %}
          {{ title_suffix }}
        </div>
        {{ content.body }}
      </div>
      {{ content.field_tags }}
    {% endblock %}
  </article>
{% endblock %}
