{{ attach_library('nightar/search') }}
<div {{ attributes.addClass(['open-close']) }}>
  <a href="opener" class="opener"><i class="fas fa-search"></i></a>
  {# Menu. #}
  {% block content %}
    <div class="slide">
      {{ content }}
    </div>
  {% endblock %}
</div>
