{% extends "block.html.twig" %}
{% block container %}
  {{ attach_library('nightar/logo') }}
  {% if site_logo or site_name %}
    <a href="{{ path('<front>') }}" title="{{ site_name }}" rel="home">
      {% if site_logo %}
        {{ site_logo }}
      {% else %}
        <span>{{ site_name }}</span>
      {% endif %}
    </a>
  {% endif %}
{% endblock %}
