{#
/**
 * @file
 * Default theme implementation for the messages block.
 *
 * Removes wrapper elements from block so that empty block does not appear when
 * there are no messages.
 *
 * Available variables:
 * - content: The content of this block.
 *
 * @ingroup themeable
 */
#}
{%- if content|render %}
  {% block container %}
    <div{{ attributes.addClass('message-block') }}>
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  {% endblock %}
{% endif -%}
