{% block container %}
  {% set classes = [
    'language-switcher',
  ] %}
  {{ attach_library('nightar/language-switcher') }}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock %}
