{% block container %}
  <div{{ attributes.setAttribute('class', 'block-wrapper') }}>
    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock %}
