{% set title_classes = [
  label_display == 'visually_hidden' ? 'visually-hidden',
] %}
{% if items|length %}
  <div class="tags">
    {% if label_hidden %}
      {% block tags %}
        <ul>
          {% for item in items %}
            <li>
              {{ item.content }}
            </li>
          {% endfor %}
        </ul>
      {% endblock %}
    {% else %}
      <strong{{ title_attributes.addClass(title_classes) }}>{{ label ~ ':' }}</strong>
      {{ block('tags') }}
    {% endif %}
  </div>
{% endif %}


