td.active {
  background-color: #ec1d25 !important;
}

input[type="date" i] {
  padding: 14px;
}

.table-condensed td, .table-condensed th {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 400;
}
.daterangepicker {
  width: 339px;
  box-shadow: 0px 3px 25px rgba(0,0,0,0.1);
  border: none;
  margin-top: 10px;
  .calendar {
    max-width: inherit;
  }
  thead tr th {
    padding: 10px 0;
  }
  .table-condensed th select {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
  }
  td {
    width: 60px;
    height: 35px;
  }
}
