.animsition-loading-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cp-spinner {
  width: 40px;
  height: 40px;
  display: inline-block;
  box-sizing: border-box;
  position: relative
}

.cp-meter {
  border-radius: 50%;
  border-top: solid 6px #ec1d25;
  border-right: solid 6px #ec1d25;
  border-bottom: solid 6px #ec1d25;
  border-left: solid 6px #ec1d25;
  width: 48px;
  height: 48px;
  display: inline-block;
  box-sizing: border-box;
  &:before {
    border-radius: 3px;
    content: " ";
    width: 6px;
    height: 12px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #ec1d25;
    position: absolute;
    top: 5px;
    left: 16px;
    transform-origin: center bottom;
    animation: cp-meter-animate-before 1s linear infinite
  }
}

@keyframes cp-meter-animate-before {
  0% {
    transform: rotate(-45deg)
  }

  100% {
    transform: rotate(315deg)
  }
}
